.classCard__upper {
    position: relative;
    color: white;
    padding: 10px;
    background-size: cover;
    overflow: hidden;
  }
  
  .classCard {
    width: 350px;
    border: 1px solid #dadce0;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    color: white;
    height: 380px;
    margin: 15px; 
  }
  
  .classCardHeader {
    overflow: hidden;
    position: relative;
    height: 120px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    /* Permite que cliques passem para a div abaixo */
  }
  
  .classCard__middle {
    height: 215px;
    border-bottom: 1px solid #dcdcdc;
  }
  
  .classCard__creatorPhoto {
    width: 85px;
    position: absolute;
    right: 17px;
    border-radius: 9999px;
    top: 72px;
  }
  
  .classCard__className {
    font-weight: 600;
    font-size: 28px;
    height: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    margin-top: 15px;
  }
  
  .classCard__creatorName {
    position: absolute; 
    top: 85px; 
    font-size: 15px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
  }
  
  .classCard__lower {
    display: flex;
    flex-direction: row-reverse;
  }
  .menuIcon {
    position: absolute;
    top: 10px; 
    right: 10px; 
    color: white; 
    width: 30px;
  }