.classCard__upper {
    background-color: #00a5e0;
    height: 35%;
    position: relative;
    color: white;
    padding: 10px;
    /* border-bottom: 10px solid #dcdcdc; */
  }
  
  .classCard {
    width: 320px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
  }
  
  .classCard__middle {
    height: 190px;
    border-bottom: 1px solid #dcdcdc;
  }
  
  .classCard__creatorPhoto {
    width: 85px;
    position: absolute;
    right: 17px;
    border-radius: 9999px;
    margin-top: 15px;
  }
  
  .classCard__className {
    font-weight: 600;
    font-size: 30px;
  }
  
  .classCard__creatorName {
    position: absolute;
    bottom: 12px;
    font-size: 15px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
  }
  
  .classCard__lower {
    display: flex;
    flex-direction: row-reverse;
  }